
   body {
  background: #000000;
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.carte {
  text-align: center;
  color: white;
  background: #111;
  padding: 2rem;
  border-radius: 20px;
  max-width: 350px;
  width: 90%;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

h1 { 
  font-size: 2rem;
  margin: 0.5rem 0; 
}

p {
  color: #aaa;
  margin-bottom: 2rem;
}

.liens {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.liens a {
  background: #0f3460;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.liens a:hover {
  background: #e94560;
  transform: translateY(-3px);
}

/* Bloc entreprise */
.entreprise {
  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid #333;
  border-radius: 12px;
}

.logo-entreprise {
  width: 80px; 
  margin-bottom: 0.8rem;
  filter: brightness(0) invert(1);
}

.phrase-entreprise {
  font-size: 0.85rem;
  color: #ccc;
  font-style: italic;
}
