
   body {
  background: #ebdfdf;
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 2;
  font-family: 'Poppins', sans-serif;
}

.layout {
  display: flex;
  grid-template-columns: 4fr 4fr 4fr;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  gap: 1px;
  padding: 0.9rem;
}

.header {
   position: absolute;
   top: 20px;
   left: 20PX;
}


   .phrase-entreprise {
  font-size: 1rem;
  color: #000000;
  font-style: italic;
}

.col {
  display: flex;
  justify-content: center;
}

.carte {
  text-align: center;
  color: white;
  background: #ebdfdf;
  padding: 1rem;
  border-radius: 10px;
  max-width: 200px;
  width: 200%;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.avatar {
  width: 120px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

h1 { 
  font-size: 10rem;
  margin: 0.5rem 0; 
color:#d4af37;
}
h1 { 
  font-size: 2rem;
  margin: 1rem; 
color:#d4af37;
}

p {
  color: #000000;
  margin-bottom: 10rem;
   font-style: italic;
}

.liens {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.liens a {
  background: white;
  color: #d4af37;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.liens a:hover {
  background: #e94560;
  transform: translateY(-3px);
}

/* Bloc entreprise */
.entreprise {
  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid #333;
  border-radius: 12px;
}

.logo-entreprise {
  width: 80px; 
  margin-bottom: 0.8rem;
  filter: brightness(0) invert(1);
  position: absolute;
  left:50px
  width:60px 
}
 

